extends layout

block content
    .homehero
        h1 Experience the difference.
        img(src='../img/flare.png')
        a.btn.btn-secondary.btn-lg(href='/testdrive' role='button') Take a test drive today