doctype html
head
    title=title
    link(href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
    .header
        .logo
            a(href='/')
                img(src='../img/electron_logo_horizontal.png')
        .links
            a flint
            a flare
            a flash
        .login
            a login
    
    .content
        block content

    .footer
        a Electron Motors
        a Privacy & Legal
        a Contact
        a Careers
        a Newsletter
        a Forums
        a Locations
        a Dealer Login