extends layout

block content    
    if success
        .leadform
            h2 Thank You
            h4 We're looking forward to seeing you!
    else
        .leadform
            h1 Take a Test Drive Today
            form(action='/testdrive' method='post')
                .form-group
                    label Model
                    select.form-control(name='model')
                        option(value='Flare') Flare
                        option(value='Flash') Flash
                        option(value='Flint') Flint
                .form-group
                    label First Name
                    input.form-control(placeholder='First Name' name='firstname')
                .form-group
                    label Last Name
                    input.form-control(placeholder='Last Name' name='lasttname')
                .form-group
                    label Email
                    input.form-control(placeholder='Email' name='email' type='email')
                .form-group
                    label Phone
                    input.form-control(placeholder='Phone #' name='phone' type='tel')
                .form-group
                    label Where will your test drive happen?
                    select.form-control(name='location')
                        option(value='dealer') I'll come by the dealership
                        option(value='other') Bring it to me
                
                button.btn.btn-default(type='submit') Submit
